<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LahmanConnection" connectionString="data source=lahman.cis9zkc7rfcj.us-east-1.rds.amazonaws.com;initial catalog=Lahman;persist security info=True;user id=davidem;password=Lepanto1571" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>